<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/Head.ejs') %>
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/Navbar.ejs') %> <%- include('./partials/Script.ejs')
    %>
  </body>
</html>
